<md-content layout="row" flex="80" role="main" layout-align="center center">
    <md-card flex="30">
        <md-card-title layout="row" layout-align="center center" class="md-accent" md-colors="{background: 'teal-400'}">
            <span class="md-headline" style="color: white !important;">Welcome to Chat!</span>
        </md-card-title>
        <md-card-content layout-margin>
            <form name="loginForm" layout="column" layout-margin>
                <md-input-container>
                    <label>Email</label>
                    <md-icon class="mdi mdi-email mdi-18px mdi-dark mdi-inactive"></md-icon>
                    <input required ng-model="user.email" name="email" type="email">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <md-icon class="mdi mdi-key-variant mdi-18px mdi-dark mdi-inactive"></md-icon>
                    <input ng-model="user.password" type="password" name="password" required/>
                </md-input-container>
            </form>
        </md-card-content>
        <md-card-actions layout="column" layout-align="center center" layout-margin>
            <md-button class="md-raised md-primary" ng-click="login()"
                       ng-disabled="(loginForm.$dirty && loginForm.$invalid) || loginForm.$pristine">Login
            </md-button>
            <span class="md-caption">Not a user? <a ui-sref="register">register!</a></span>
        </md-card-actions>
    </md-card>
</md-content>